* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul li {
  text-decoration: none;
  list-style: none;
}

.bg-primary {
  background-color: #091e42 !important;
}

.bg-secondary {
  background-color: #6070ff !important;
}

.text-primary {
  color: #091e42 !important;
}

.text-secondary {
  color: #4053fc !important;
}

.text-tertiary {
  color: #7f8cff !important;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 70rem;
  }
}
