@import url("./bootstrap.min.css");

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: #4053fc;
}

.bg-secondary {
  background-color: #6070ff;
}

.text-primary {
  color: #4053fc;
}

.text-secondary {
  color: #6070ff;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 70rem;
  }
}
